{% extends "base.html" %}

{% block content %}
  {% if book_list %}
    <div class="tl pt3">
      <p>Categories:
          <strong> All </strong>
        {% for category in category_list %}
          <a href="{{ category.get_absolute_url }}">{{ category }}</a>
        {% endfor %}
      </p>
    </div>
    <div class="tl">
      <p>Sort by:
      {% for sort in sort_types %}
        {% if sort == sort_by %}
          <strong> {{sort}} </strong>
        {% else %}
          <a href="?sort_by={{sort}}"> {{sort}}</a>
        {% endif %}
      {% endfor %}
      </p>
    </div>
    {% for book in book_list %}
      <div class="flex flex-column-m pb4 adeb">
        <div class="pr2">
          {% if book.image_url %}<a href="{{book.get_absolute_url}}"><img src="{{book.image_url}}" style="max-width: 150px;"></a>{% endif %}
        </div>
        <div>
          <a href="{{book.get_absolute_url}}"><strong>{{ book.title }}</strong></a> by {{ book.author }} 
          <br>
          <a href="{{ book.url }}" target="_blank">{{book.url}}</a>
          <br>
          {{ book.description }}
          <br>
          <strong>Categories: </strong>
            {% for type in book.category.all %}
              <a href="{{ type.get_absolute_url }}">{{ type }}</a>
            {% endfor %}
          <br>
          <i>Added at {{ book.added_at }}</i>
          {% if book.times_favorited > 0 %}
            <p class="green">Favorited by {{book.times_favorited}} User(s).</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books.</p>
  {% endif %}       
{% endblock %}