{% extends "base.html" %}

{% block content %}
  <h1>Welcome to FreeShelf</h1>
  <p>a website developed by <em>Andy Dearing</em>!</p>
  {% if book_list %}
  <ul class="book-list">
    {% for book in book_list %}
      <li>
        {% if book.image_url %}<img src="{{book.image_url}}">{% endif %}
        <div class='book-info'>
          {{ book.title}} by {{ book.author }} 
          <br>
          <a href="{{ book.url }}">{{book.url}}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books.</p>
  {% endif %}       
{% endblock %}