{% extends "base.html" %}

{% block content %}
    <a href="{{book.get_absolute_url}}"><h1>{{ book.title }}</h1></a> by {{ book.author }} 
    {% if user.is_authenticated %}
        {% if user in favorite_users %}
            <form action="{% url 'book-detail' pk=book.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="{{ form.favorited.html_name }}" value="False">
                <button>Unfavorite</button>
            </form>
        {% else %}
            <form action="{% url 'book-detail' pk=book.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="{{ form.favorited.html_name }}" value="True">
                <button>Favorite</button>
            </form>
        {% endif %}
    {% endif %}
    <div>
    {% if book.image_url %}<img src="{{book.image_url}}">{% endif %}
    </div>
    <br>
    <p>This has been favorited by {{ book.times_favorited}} user(s).</p>
    <br>
    <a href="{{ book.url }}">{{book.url}}</a>
    <br>
    {{ book.description }}
    <br>
    <p>
        <strong>Categories: </strong>
        {% for type in book.category.all %}
            <a href="{{ type.get_absolute_url }}">{{ type }}</a>
        {% endfor %}
    </p>
    <br>
    <i>Added at {{ book.added_at }}</i> 
{% endblock %}