{% extends "base.html" %}
{% block content %}
<h1>Edit {{book.title}}</h1>
    <form action="{% url 'edit-book' pk=book.pk %}" method="POST">
        {% csrf_token %}
        <div class="flex flex-wrap">
                <div class="pr5">
                    <p>Title<p>
                    <p><input required type="text" size="40" name="{{ form.title.html_name }}" value="{{book.title}}"></p>
                    <p>Author</p>
                    <p><input required type="text" size="40" name="{{ form.author.html_name }}" value="{{book.author}}"></p>
                    <p>URL</p>
                    <p><input required type="text" size="40" name="{{ form.url.html_name }}" value="{{book.url}}"></p>
                    <p>Description</p>
                    <p><input required type="text" size="40" name="{{ form.description.html_name }}" value="{{book.description}}"></p>
                    <p>Image URL</p>
                    <p><input type="text" size="40" name="{{ form.image_url.html_name }}" value="{{book.image_url}}"></p>
                </div>
                <div>
                    <p>Catgory</p>
                        <select size="{{ categories.all.count }}" required name="{{ form.category.html_name}}" multiple>
                            {% for category in categories %}
                                <option {% if category in book.category.all %} selected=True {% endif %} value="{{ category.id }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    <br>
                    <a href="{% url 'make-category' %}">Need to add a category?</a>
                </div>
            </div>
        <button class="f6 link dim ph3 pv2 mb2 dib white bg-dark-green">Edit Book</button>
    </form>
{% endblock %}