{% extends "base.html" %}
{% block content %}
    <h1>Staff Page</h1>
    <div>
        <a href="{% url 'add-book' %}">Add Book</a>
    </div>
    {% if book_list %}
        {% for book in book_list %}
        <div>
            <p><a href="{{ book.get_absolute_url }}">{{book.title}}</a></p>
            <p><a href="{% url 'edit-book' pk=book.pk %}">Edit</a>   
                <a href="{% url 'delete-book' pk=book.pk %}">Delete</a></p>
            <br>
        </div>
        {% endfor %}
    {% else %}
        <p>There are no books.</p>
    {% endif %}
{% endblock %}