{% extends "base.html" %}
{% block content %}
    <div class="flex flex-wrap pt2">
        <div class="pr5 pb5">
            <h5>Make A New Suggestion</h5>
            <p class=red>All Fields Required</p>
            <form action="{% url 'suggestions' %}" method="POST">
                {% csrf_token %}
                <p>Title<p>
                <p><input required type="text" size="40" name="{{ form.title.html_name }}"></p>
                <p>Author</p>
                <p><input type="text" size="40" name="{{ form.author.html_name }}"></p>
                <p>URL</p>
                <p><input required type="text" size="40" name="{{ form.url.html_name }}"></p>
                <p>Description</p>
                <p><input type="text" size="40" name="{{ form.description.html_name }}"></p>
                <p>Image URL</p>
                <p><input type="text" size="40" name="{{ form.image_url.html_name }}"></p>
                <p>Suggested Catgories</p>
                <p><input type="text" size="40" name="{{ form.suggested_categories.html_name }}"></p>
                <button class="f6 link dim ph3 pv2 mb2 dib white bg-dark-green">Submit</button>
            </form>
        </div>
        <div>
            <h5>Pending Suggestions</h5>
            {% if suggestions %}
                {% for suggestion in suggestions %}
                    <p>
                        {{suggestion.title}} - <a href="{% url 'user-profile' pk=suggestion.user.pk %}">{{suggestion.user}}</a>
                        {% if perms.core.can_add_edit_delete %}
                            <a href="{% url 'approve-suggestion' pk=suggestion.id %}">Inspect/Approve</a>
                            <a href="{% url 'delete-suggestion' pk=suggestion.id %}">Delete</a>
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                <p>There are no pending suggestions.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}