<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>FreeShelf</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <a href="{% url 'home' %}">Home</a>
  {% if request.user.is_authenticated %}
    <p>Logged in as {{request.user}} 
      <a href="{% url 'auth_logout' %}">Logout</a>
      <a href="{% url 'favorites' request.user.id %}">Favorites</a>
    </p>
  {% else %}
  <p>
    <a href="{% url 'auth_login' %}">Login</a> or 
    <a href="{% url 'registration_register' %}">Register</a>
  </p>
  {% endif %}
  
  {% block content %}{% endblock %}
</body>
</html>